# OpenAI API Configuration  
OPENAI_API_KEY="your-openai-api-key-here"

# LangSmith Tracing
LANGCHAIN_TRACING=false
LANGCHAIN_API_KEY="your-langsmith-api-key-here"
LANGSMITH_PROJECT="your-project-name"

# OpenAI Parameters
MODEL_NAME=""
MODEL_PROVIDER=""
TEMPERATURE=0.2 